@using Tasklyne.Models
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Department";
}

<h1>Department</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Department</a>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>

</p>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach(var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@department.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>